@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Poppins:wght@400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #fcfcfc;
}

li, a, button {
  font-family: "Poppins", sans-serif;
  font-weight: 500px;
  font-size: 16px;
  color: #363636;
}

p {
  font-size: 60px;
}

.header-logo {
  width: 15%;
}

.logo {
  background-image: url("images/logo.png")
}

.header-menu {
  font-weight: bold;
  list-style: none;
}

.header-menu a{
  transition: all 0.2 ease
}

.header-menu a:hover {
  color: #FFE143;
  transition: all 0.2s ease;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px 50px;
  height: 80px;
  background-color: #fcfcfc;
  top: 20px;
  position: fixed !important;
  z-index: 1000;
  width: 100%;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

#navlist {
  position: relative;
  padding: 0em;
}

#navlist li {
  padding: 0;
  list-style: none;
  top: 0;
}

#navlist li, #navlist a {
  height: 120px;
  display: block;
}


#logo {
  left: 0px;
  width: 170px;
  background: url('images/logo.png') 0 0;
  background-size: 100%;
  cursor: pointer;
  transition: 0.2s ease;
}

.header-menu {
  padding: 0em;
}

.header-menu li {
  display: inline-block;
  padding-left: 25px;
}

.header-menu a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

p {
  margin-top: 2em
