@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Montserrat:wght@300;400;700&display=swap');

:root {
  --purple: #AF54D0;
  --white: #fdfdfd;
  --black: #333333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  padding-top: 130px;
  padding-left: 64px;
  padding-right: 64px;
}

h1 {
  font-family: 'Arvo', serif;
}

.need-help{
  color:  #fdfdfd;
  text-align: center;
  background-color: var(--purple);
  font-size: 72px;
  font-family: "Arvo", serif;
  padding: 50px 60px;

  width: 100%;

}
.help-number{
  color:  #fdfdfd;
  text-align: center;
  background-color: var(--purple);
  padding: 40px 60px;

}

.image-grid {
  --gap: 16px;
  --num-cols: 4;
  --row-height: 300px;

  box-sizing: border-box;
  padding: var(--gap);

  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
}

.image-grid > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-grid-col-2 {
  grid-column: span 2;
}

.image-grid-row-2 {
  grid-row: span 2;
}


@media screen and (max-width: 1024px) {
  .image-grid {
    --num-cols: 2;
    --row-height: 200px;
  }
}

.num ul{
  list-style: url("images/callsprite.png")

}

.news-title{
  color: #AF54D0;
}

.emergency-header {
  background-color: var(--black);
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
}

.emergency-header h3 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  color: var(--white);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 64px;
  height: 81px;
  background-color: var(--white);
  top: 36px;
  left: 0;
  position: fixed !important;
  z-index: 1000;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}


#navlist {
  position: relative;
  padding: 0em;
}

#navlist li {
  padding: 0;
  list-style: none;
  top: 0;
}

#navlist li, #navlist a {
  height: 31px;
  display: block;
}


#logo {
  left: 0px;
  width: 90px;
  background: url('images/oabi-logo.png') 0 0;
  padding-top: 25px;
  background-size: 100%;
  cursor: pointer;
  transition: 0.2s ease;}

.body {
  padding-top: 116.45px;
  padding-left: 64px;
    padding-right: 64px;
  }

 .donations fieldset {
    background-color: #FDFDFD;
    text-decoration-color: #333333;
    border-color: #AF54D0;
   border-style: solid;
   font-family: Montserrat;
   padding: 17px 25px;
   border-radius: 5px;
  }

  legend {
    font-family: 'Arvo', serif;
    color:var(--purple);
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
  }

  .container-about-us {
    line-height: 40px;
  }

.container-who {
  color: #fdfdfd;
  background-color: var(--purple);
  padding: 50px 60px;

  width: 100%;

}
.container-vision {
  color: var(--purple)
}

.container-values {
  color: #fdfdfd;
  background-color: var(--purple);
  padding: 50px 60px;

  width: 100%;
}

.container-mission h1 {
  color: var(--purple)
}






  .donations label{
    font-weight: bold;
    text-transform: uppercase;
  flex-direction: row;
  text-align: right;
  width: 400px;
  line-height: 36px;
  margin-bottom: 20px;
  }

.donation-label{
  display: block;
}
input[type="text"], textarea {
  border-color : var(--purple);
}
  #contribution {
    border: 2px solid #AF54D0;
    padding: 15px;
  }


    button {
      background-color: var(--purple);
      color: var(--white);
      padding: 10px 15px;
      text-decoration: none;
      border: none;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      font-family: "montserrat", sans-serif;
      border-radius: 5px;
    }

    .donations h4{
      padding-top: 20px;
    }

 button:hover{
  background-color: #752492;
  transition: 0.3ms;
 }

 .container{
     margin: 24px 0px;
 }


.line{
  border-bottom: 5px solid var(--purple);
  display: block;
}

 .our-story-header{
   color: var(--purple);
   font-size: 72px;
   text-align: center;
   margin-bottom: 20px;
   margin-top: 30px;
   font-family: "Arvo", serif;
   width: 100%;
 }
 .our-story p{
   text-align: center;
    line-height: 2em;
 }


.achievements {
  line-height: 40px;
}

.achievements-header{
  margin-top: 45px;
  margin-bottom: 10px;
  color: #AF54D0;
  font-size: 72px;
  font-family: "Arvo", serif;
}

.dates{
  padding: 0px 10px 0px 30px;
    color: #AF54D0;
    font-size: 32px;
    font-weight: bold;
    font-family: "Arvo", serif;
}

.achievements-container {
    margin: 33px 0px;
}


hr{
  background-color: #AF54D0;
   height: 5px;
}
 .contact-us h2{
  padding-top: 20px;

 }

 input[type="text"], textarea{
   border-color: var( --purple);
 }

 input[type="textarea"], textarea{
   border-color: var(--purple);

}

 #textboxid{
   width: 350px;
   height: 150px;
   font-size: 10pt;
 }

 form dl{
   display: inline-block;
   vertical-align: top;

 }

.list1 li {
  float: right;
  clear: right;
}

.list1 ul {
  list-style: url("images/emailsprite.png");
}


.list2 li{
  margin-top: 2%;
  float: right;
  clear: both;
}

.list2 ul{
  list-style: url("images/callsprite.png")
}

.list3 li {
  margin-top: 2%;
  float: right;
  clear: right;
}

.list3 ul{
  list-style: url("images/facebooksprite.png");
}

.partners {
    margin: 24px 0px;
}

.partner-container {
    margin: 24px 0px;
}

.partners h2, h3{
font-family: "Arvo", serif;
}

.partners h2 {
    margin: 24px 0px;
}
